.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: yellow;
}
.app_logo{
    height: 50px !important;
    object-fit: contain;
}
.app_body_background{
    height: 400px;
    background-color: white;
}
.app_body{
    background: url('https://www.pngkey.com/png/full/859-8598072_picture-freeuse-library-silhouette-mobile-at-getdrawings-cell.png')
    no-repeat center;
    background-size: contain;
    height: 400px;
    width: 250px;
    padding: 71px;
}